.logo {
  display: inline-block;
  font-size: 2.4rem;
}

#wrap #m_header {
  display: none;
  height: 100px;
  background: red;
}

#wrap #m_header .sidebar {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 30rem;
  background: green;
  transition: 1s;
  z-index: 100;
}

#wrap #m_header .sidebar .sidebar_close_btn {
  position: absolute;
  display: inline-block;
  right: -4rem;
  top: 0;
  width: 40px;
  height: 40px;
}

#wrap #m_header .sidebar .sidebar_close_btn:before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 1px;
  transform: translate(-50%, -50%) rotate(45deg);
  background: black;
}

#wrap #m_header .sidebar .sidebar_close_btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 1px;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: black;
}

#wrap #m_header .sidebar .sidebar_list > li {
  font-size: 2rem;
  border-bottom: 1px solid #666666;
}

#wrap #m_header .sidebar .sidebar_list > li:before {
  content: '';
}

#wrap #m_header .sidebar .sidebar_list > li > ul {
  display: none;
}

#wrap #m_header .m_upper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  background: #ffffff;
  text-align: center;
}

#wrap #m_header .m_upper .btn_box {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

#wrap #m_header .m_upper .btn_box .sidebar_open_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 1px;
  background: #000000;
}

#wrap #m_header .m_upper .btn_box .sidebar_open_btn:before {
  content: '';
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 0;
  width: 20px;
  height: 1px;
  background: #000000;
}

#wrap #m_header .m_upper .btn_box .sidebar_open_btn:after {
  content: '';
  position: absolute;
  display: inline-block;
  top: 8px;
  left: 0;
  width: 20px;
  height: 1px;
  background: #000000;
}

#wrap #m_header .m_lower {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 50px;
  background: #ffffff;
}

#wrap #m_header .m_lower ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrap #header {
  height: 10rem;
  background: red;
}

#wrap #header .w-1260 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 126rem;
  margin: 0 auto;
  height: 100%;
  background: teal;
}

#wrap #header .w-1260 .main_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 480px) {
  #wrap #m_header {
    display: block;
  }
  #wrap #m_header .sidebar {
    display: block;
  }
  #wrap #header {
    display: none;
  }
}
