//product
#container{
  #product{
    .infoWrap{
      .infoBox{
        margin: 50px 0;
        text-align: center;
        h2.title{
         font-size: 18px;
         display: block;
         margin-bottom: 20px;
        }
        p.desc{
          font-size: 16px;
          display: block;
          margin-bottom: 50px;
          line-height: 24px;
        }
      }
    }
    .youtubeBox{
      margin-bottom: 50px;
      p.desc{
        text-align: center;
        font-size: 16px;
        display: block;
        margin-bottom: 50px;
        line-height: 24px;
      }
    }
  }
  #beerList{
    background: #eaeaea;
    .itemBox{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 50px 0;
      .beerItems{
        flex: 30%;
        flex-grow: 1;
        height: 100%;
        background: #ffffff;;
        border: 1px solid #f9f9f9;
        box-sizing: border-box;
        margin: 10px;
        &:hover{
          border: 1px solid #00b8ff;
          box-shadow: 10px 10px 10px gray;
          transition:  0.8s;
        }
        img{
          display: block;
          width: 200px;
          margin: 0 auto;
          height: 200px;
        }
        .itemInfoBox{
          position: relative;
          padding: 20px;
          height: 190px;
          .title{
            font-size: 18px;
            font-weight: 700;
            color:#00b8ff;
            margin-bottom: 10px;
          }
          .desc{
            font-size: 12px;
            color:#999999;
            margin-bottom: 20px;
          }
          .beerInfo{
            position: absolute;
            bottom:10px;
            .info{
              font-size: 14px;
              font-weight: bolder;
              color:#000000;
            }
          }
        }
      }
    }
  }
}
